<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_qLepPEnzA9dKQITLsW33N4cxpJl-K9o</string>
	<key>GCM_SENDER_ID</key>
	<string>272145185703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commrealtimedatabase</string>
	<key>PROJECT_ID</key>
	<string>appfirebasert</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebasert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272145185703:ios:207caa32de0e4a6dfad482</string>
</dict>
</plist>